<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242416539873-67gafvkdtg14rg7pffo1fapt54okuvvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242416539873-67gafvkdtg14rg7pffo1fapt54okuvvu</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4sHBWkX42f5J7Svin8l_mVZWYFRt88s</string>
	<key>GCM_SENDER_ID</key>
	<string>242416539873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashWeChat</string>
	<key>PROJECT_ID</key>
	<string>we-flash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>we-flash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242416539873:ios:743815c8ef5a454712ffa0</string>
</dict>
</plist>